VITE_FIREBASE_API_KEY=ضع_مفتاح_API_هنا
VITE_FIREBASE_AUTH_DOMAIN=transport-95c76.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=transport-95c76
VITE_FIREBASE_STORAGE_BUCKET=ضع_Storage_Bucket_هنا
VITE_FIREBASE_MESSAGING_SENDER_ID=ضع_Sender_ID_هنا
VITE_FIREBASE_APP_ID=ضع_App_ID_هنا
